@import '../styles/variables';

.page{
  background-color: $primary;
  .title{
    padding: 2rem;
    background-color: $background;
    text-align: center;
  }
  .cards{
    padding: 1rem;
    display: grid;
    gap: 1rem;
    @media(min-width:768px){
      grid-template-columns: 1fr 1fr;
    }
    div{
      padding: 2rem;
      background-color:$secondary;
      color: white;
    }
  }
}
  