@import '../styles/variables';

.page {
  line-height: 2rem;
  background-color: $primary;
  .title {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../public/hero/fees.webp) center no-repeat;
    background-size: cover;
    text-align: center;
  }
  >div{
    @media(min-width:768px){
      display: flex;
      flex-direction: row-reverse;
    }
    >div{
      >div{
        padding:2rem;
        @media(min-width: 768px){
          padding: 3rem 3rem 3rem 5rem;
        }
      }
      h2{
        margin: 2rem 0 1rem;
      }
      h3{
        margin: 1rem 0 0;
        font-size: 1rem;
      }
    }
    .top{
      background-color: $light;
    }
    .aside{
      padding: 2rem;
      background-color: $tone;
      @media(min-width:768px) {
        padding: 3rem;
        width: 40%;
      }
    }
  }
}